{
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "prettier"
  ],
  "env": {
    "es6": true
  }
}